.form_container {
    width: 700px;
    height: 600px;
    border: 1px solid black;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: center;
    

  
}



.title_form {
    font-family: var(--Roboto);
    font-size: var(--size2);
    margin-left: 10px;
}

.input {
    display: flex;
    flex-direction: column;
	margin-bottom: 10px;
    width: 600px;
    font-family: var(--Roboto);
    font-size: var(--size1);

    label {
        margin-bottom: 10px;
    }

    input,
    textarea {
        border: 2px solid var(--grey1);
        border-radius: 5px;
        height: 40px;
        font-family: var(--Roboto);
        font-size: var(--size1);
        padding-left: 10px;
    }

    input:focus,
    textarea:focus {
        border: 2px solid var(--blue1);
      //   border: none;
		outline: none;
		  box-shadow: var(--blue1) 0px 0px 5px;
    }
}
.text_textarea {
	textarea {
		height: 100px;
	}
}
.description_textarea {
	textarea {
		height: 80px;
	}
}