

.global_container {
	display: flex;
	align-items: center;
	width: 550px;
	height: 300px;
	background-color: #F3F3F3;
	
	border-radius: 25px;
	margin: 50px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	
}

.left_part_card {
	position: relative;
	min-width: 200px;
	height: 200px;
	border-radius: 25px;
	overflow: hidden;
	transform: translateX(-50px);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.image_card {
	object-fit: cover;
	overflow: hidden;

}

.right_part_card {
	font-family: var(--DM);
	color: var(--dark1);
	width: 55%;

	h2 {
		font-size: var(--size1);
		font-weight: 600;
		
	}
	h3 {
		font-size: var(--size0);
		color: var(--dark2);
		margin-bottom: 50px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}