.global_container {
    display: flex;
    align-items: center;
    width: 550px;
    height: 300px;
    background-color: var(--violet4);
    border: 1px solid var(--white1);
    border-radius: 20px;
    margin: 50px;
	transition: all .2s ease;

  
}

.global_container:hover {
	outline: 1px solid var(--white1);
	   box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}

.left_part_card {
    position: relative;
    min-width: 200px;
    height: 200px;
    border-radius: 25px;
    overflow: hidden;
    //  transform: translateX(-50px);
    //  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.image_card {
    object-fit: cover;
    overflow: hidden;
    display: flex;
}

.right_part_card {
    padding: 20px 25px;
    font-family: var(--Montserrat);
    color: var(--white1);
    display: flex;
    flex-direction: column;
    overflow: hidden;

    h2 {
        font-size: var(--size2);
        font-weight: 600;
    }
    h3 {
        width: 100%;

        font-size: var(--size1);
        color: var(--white1);
        margin-bottom: 50px;
        white-space: wrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

// BUTTONs

.buttons_container {
	display: flex;

	
}