

.global_container {
	width: 100vw;
	height: 80px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 100px;

}

.userName {
	font-size: var(--size2);
	margin-left: 0px;
}